@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
*{
    margin: 10px 0px;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
.nameLogoD{
    margin-left: 12%;
    margin-right: 12%;
    font-size: 1.5em;
    font-weight: 700;
    z-index: 4;
}
.logoD{
    float: left;
    margin: 2px 20px 2px 0px;
    width: 54px;
    height: 44px;
    z-index: 4;
}
.navigationBarDevelopment{
    position: sticky;
    top:0;
    z-index: 3;
    background: white;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-left: -2em;
    /*
    */
}
.nav_links_d{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2.6em ;
    text-transform: uppercase;
    text-decoration: black;
    margin-right: 200px;
    padding: 0px 20px;
    z-index: 4;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
#selected_d{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.head_d{
    margin-left: -100px;
    position: relative;
}
.head_background_d_1{
    background: #F8D16C;
    position: absolute;
    width: 6.2em;
    height: 1.1em;
    left: 50px;
    bottom: 30%;
    z-index: 1;
}
.head_background_d_2{
    background: #F8D16C;
    position: absolute;
    width: 9.4em;
    height: 1.1em;
    left: 50px;
    bottom:15%;
    z-index: 1;
}
.head_text_d{
    font-size: 1.2em;
    margin-left: 0px;
    font-family: "Playfair Display";
    position: relative;
    opacity: 75%;
    z-index: 2;
}
.prescribed_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14em;
    background-size: cover;
    background: url("banner.png") no-repeat;
}
.head_d{
    font-size: 40px;
}
.First_Yearites_Info{
    margin-top: 30px ;
    margin-left: 12%;
}
.Processes{
    background: #f7f7f7;
    margin: 20px 170px 30px 0px;
}
.Inside_box_heading{
    padding: 10px 10px ;
    margin: 10px 20px;
}
.Info_in_the_box{
    padding: 0px 10px 10px 10px;
    margin: 10px 20px;
}
.Competitions{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 49% 1% 50%;
}
.Mid-Partition{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 45% 10% 45%;
}
.line{
    width: 2px;
    height: 90%;
    background-color: #293B52;
}
.Little_Horcruxes{
    padding: 10px;
}
.Second_Yearites_Info{
    margin-top: 60px ;
    margin-left: 12%;
    margin-bottom: 40px;
}
.site-footer{
    width: 101.3%;
    height: 6em;
    min-height: 7em;
    background: #293B52;
    margin: 50px -20.25px -100px -20px;
    bottom: 0px;
}
.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    margin: 0px 30px 0px 10px;
    padding: 0px 10px ;
}
.social-icons{
    z-index: 0;
    margin-left: 16em;
    margin-top: 40px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.below-footer{
    background: #293B52;
    height: 10px;
    width: 95%;
}
.nav_links_footer{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1.5em ;
    font-size: 14px;
    margin-top: 40px;
    margin-right: 10em;
    text-transform: uppercase;
    color: #F8D16C;
    padding: 0px 20px;
    text-decoration: none;
}
.link_footer{
    color: #F8D16C;
}
@media only screen and (max-width: 1220px)  {
    .nameLogoD{
        margin-left: 14%;
        margin-right: 18%;
        font-size: 1.5em;
        font-weight: 700;
        z-index: 4;
    }
}

@media only screen and (max-width: 1000px){
    .Competitions{
        display: block;
    }
    .Mid-Partition{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .line{
        height: 2px;
        width: 70%;
        margin: -10px 20px 0px 20px ;
        background-color: #293B52;
    }
    .content-footer{
        margin-left: 30px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 800px) {
    .nav_links_footer{
        display: none;
    }
    .social-icons{
        margin-left: 280px;
    }
    .nameLogoD{
        margin-left: 10%;
        font-size: 1.5em;
        font-weight: 700;
        z-index: 4;
    }
}